@page "/list-of-users"
<PageTitle>e-Fusion - Liste des utilisateurs par profil</PageTitle>
<AuthorTag Name="Kevin Vavelin" Date=" Nov 20, 2023" Time="1"></AuthorTag>

<div>
    <h2>Utilisateurs à utiliser afin de valider les implémentations de features</h2>
    
    <p>Vous trouverez ci-dessous les combinaisons identifiant/mot de passe qui seront à utiliser pour valider les scénarios et profils d'utilisateurs de la solution e-Fusion</p>
    
    <h4>Utilisateurs B2C sans carte The ONE</h4>
    <h4>Utilisateurs B2C avec carte The ONE</h4>
    <h4>Utilisateurs B2B sans utilisateurs et sans bornes en production</h4>
    <h4>Utilisateurs B2B avec utilisateurs (B2C) et sans bornes en production</h4>
    <h4>Utilisateurs B2B avec utilisateurs (B2C) et des bornes en production</h4>
    <h4>Utilisateurs B2B sans utilisateurs (B2C) et des borne en exploitation</h4>
    
</div>

@code {
    
}