@preservewhitespace true
<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 px-4 md:px-8">
    <svg class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"  xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="currentColor">
        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 
    0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"></path>
    </svg>
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Owned by @Name</h3>
        <h5 class="mb-3 font-normal text-gray-700 dark:text-gray-400">Last updated: @Date.</h5>
        <h5 class="mb-3 font-normal text-gray-700 dark:text-gray-400">@Time min read</h5>
    </div>
</div>

@code {
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? Date { get; set; }
    [Parameter]
    public string? Time { get; set; }
}